@charset "UTF-8";
/*圆圈头像*/
body {
  background-color: #f2f2f2;
  font-family: 'Microsoft Yahei'; }

/*楼盘信息盒子通用样式*/
#top-block-info .block-info-box, #block-facility, #block-space {
  width: 1024px;
  margin: 0 auto;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*楼盘状态样式*/
#top-block-info .block-info-box .block-info-txt .block-title .block-status, #block-space-style li span.space-style .block-status {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  padding: 2px 6px;
  vertical-align: middle;
  -moz-border-radius: 3px;
  /* Firefox */
  -webkit-border-radius: 3px;
  /* Safari 和 Chrome */
  border-radius: 3px;
  /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */ }

#header {
  height: 50px;
  background-color: #1072d9; }

#back-icon {
  display: block;
  padding-top: 11px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding-left: 5px; }
  #back-icon img {
    display: inline-block;
    width: 28px;
    line-height: 50px;
    vertical-align: middle; }

/*头部楼盘信息*/
#top-block-info {
  padding: 30px; }
  #top-block-info .block-info-box {
    padding: 20px;
    /*楼盘宣传图*/
    /*楼盘信息文字*/
    /*楼盘信息文字*/ }
    #top-block-info .block-info-box .block-banner-box {
      width: 48%;
      float: left;
      /*图片*/ }
      #top-block-info .block-info-box .block-banner-box .swiper-slide img {
        display: block;
        width: 100%;
        height: 330px; }
    #top-block-info .block-info-box .block-info-txt {
      width: 52%;
      padding-left: 30px;
      float: left;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      /*楼盘名称*/ }
      #top-block-info .block-info-box .block-info-txt .block-title {
        font-size: 24px;
        font-weight: normal;
        padding-bottom: 10px;
        border-bottom: 1px solid #cacaca;
        /*楼盘状态*/ }
        #top-block-info .block-info-box .block-info-txt .block-title .block-status:first-child {
          background-color: #00ae66; }
        #top-block-info .block-info-box .block-info-txt .block-title .block-status:nth-child(2) {
          background-color: #ff6600; }
        #top-block-info .block-info-box .block-info-txt .block-title .block-status:nth-child(3) {
          background-color: #e8393c; }
    #top-block-info .block-info-box #block-detail-info dl {
      overflow: auto;
      display: block;
      font-family: "\5FAE\8F6F\96C5\9ED1", 微软雅黑, "Microsoft Yahei", 雅黑 \9, Arial;
      margin: 15px auto; }
      #top-block-info .block-info-box #block-detail-info dl.block-price {
        line-height: 24px; }
        #top-block-info .block-info-box #block-detail-info dl.block-price .info-txt {
          font-size: 24px;
          color: #e8393c; }
      #top-block-info .block-info-box #block-detail-info dl.contact-tel {
        text-align: left; }
        #top-block-info .block-info-box #block-detail-info dl.contact-tel .info-txt img {
          vertical-align: middle; }
        #top-block-info .block-info-box #block-detail-info dl.contact-tel .info-txt a {
          font-size: 22px;
          color: #1072d9;
          vertical-align: middle;
          line-height: 22px; }
      #top-block-info .block-info-box #block-detail-info dl .info-style {
        float: left;
        width: 80px;
        color: #555;
        font-size: 14px;
        vertical-align: middle;
        margin-left: -100%; }
      #top-block-info .block-info-box #block-detail-info dl .info-txt {
        width: 100%;
        float: left;
        color: #333333;
        font-size: 14px;
        vertical-align: middle; }
        #top-block-info .block-info-box #block-detail-info dl .info-txt div {
          margin-left: 80px; }

/*楼盘配套*/
#block-facility, #block-space {
  margin-bottom: 30px;
  /*标题*/
  /*配套tab切换*/
  /*配套信息文字*/ }
  #block-facility .title, #block-space .title {
    font-weight: normal;
    padding: 20px 25px;
    border-bottom: 1px solid #dddddd;
    font-size: 0;
    /*图标*/
    /*文字*/ }
    #block-facility .title .border-icon, #block-space .title .border-icon {
      display: inline-block;
      width: 3px;
      height: 20px;
      background-color: #1072d9;
      vertical-align: middle; }
    #block-facility .title .title-txt, #block-space .title .title-txt {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      margin-left: 12px; }
  #block-facility #block-facility-tab, #block-space #block-facility-tab {
    border-bottom: 1px solid #dddddd; }
    #block-facility #block-facility-tab li, #block-space #block-facility-tab li {
      display: inline-block;
      padding: 15px 25px;
      cursor: pointer; }
      #block-facility #block-facility-tab li.active, #block-space #block-facility-tab li.active {
        border-bottom: 2px solid #1072d9; }
  #block-facility #block-facility-info, #block-space #block-facility-info {
    background-color: #f2f2f2;
    overflow: hidden;
    margin-bottom: 30px;
    /*配套列表*/ }
    #block-facility #block-facility-info .facility-info-list, #block-space #block-facility-info .facility-info-list {
      width: 100%;
      float: left;
      display: none;
      top: 0;
      left: 0;
      padding: 15px 30px 40px 30px;
      background-color: #ffffff;
      -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      -ms-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      -o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box; }
      #block-facility #block-facility-info .facility-info-list h4, #block-space #block-facility-info .facility-info-list h4 {
        font-size: 20px;
        margin: 8px 0; }
      #block-facility #block-facility-info .facility-info-list .info-txt, #block-space #block-facility-info .facility-info-list .info-txt {
        font-size: 14px;
        display: block;
        padding: 8px 10px;
        background-color: #f2f2f2;
        -moz-border-radius: 5px;
        /* Firefox */
        -webkit-border-radius: 5px;
        /* Safari 和 Chrome */
        border-radius: 5px;
        /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box;
        /*公交站点和公交车名*/ }
        #block-facility #block-facility-info .facility-info-list .info-txt li, #block-space #block-facility-info .facility-info-list .info-txt li {
          margin: 5px auto; }
        #block-facility #block-facility-info .facility-info-list .info-txt .bus-info .bus-station, #block-facility #block-facility-info .facility-info-list .info-txt .bus-info .bus-name, #block-space #block-facility-info .facility-info-list .info-txt .bus-info .bus-station, #block-space #block-facility-info .facility-info-list .info-txt .bus-info .bus-name {
          display: inline-block; }
          #block-facility #block-facility-info .facility-info-list .info-txt .bus-info .bus-station.bus-name, #block-facility #block-facility-info .facility-info-list .info-txt .bus-info .bus-name.bus-name, #block-space #block-facility-info .facility-info-list .info-txt .bus-info .bus-station.bus-name, #block-space #block-facility-info .facility-info-list .info-txt .bus-info .bus-name.bus-name {
            color: #555555;
            float: right; }
      #block-facility #block-facility-info .facility-info-list .info-img, #block-space #block-facility-info .facility-info-list .info-img {
        font-size: 0;
        margin: 10px auto;
        text-align: center; }
        #block-facility #block-facility-info .facility-info-list .info-img img, #block-space #block-facility-info .facility-info-list .info-img img {
          width: 49%; }
          #block-facility #block-facility-info .facility-info-list .info-img img:first-child, #block-space #block-facility-info .facility-info-list .info-img img:first-child {
            margin-right: 2%; }
    #block-facility #block-facility-info span, #block-space #block-facility-info span {
      font-size: 14px; }

/*户型大小介绍*/
#block-space-style {
  padding: 10px;
  font-size: 0; }
  #block-space-style li {
    display: inline-block;
    margin: 15px; }
    #block-space-style li img {
      width: 220px;
      display: block; }
    #block-space-style li span {
      display: block;
      text-align: left;
      padding: 0; }
      #block-space-style li span.space-style {
        position: relative;
        margin-top: 8px;
        font-weight: bold;
        font-size: 15px; }
        #block-space-style li span.space-style .block-status {
          position: absolute;
          right: 0;
          top: 0;
          /*在售状态*/ }
          #block-space-style li span.space-style .block-status.selling {
            background-color: #ff7e29; }
          #block-space-style li span.space-style .block-status.sell-out {
            background-color: #999999; }
      #block-space-style li span.space-area {
        color: #555;
        font-size: 14px;
        padding-top: 6px; }

/*ipad设备*/
@media screen and (max-width: 768px) {
  /*顶部楼盘信息*/
  #top-block-info {
    padding: 0 0 20px 0; }
    #top-block-info .block-info-box {
      padding: 0;
      width: 100%;
      /*楼盘宣传图和信息文字*/
      /*楼盘轮播图*/
      /*楼盘信息文字*/ }
      #top-block-info .block-info-box .block-banner-box, #top-block-info .block-info-box .block-info-txt {
        width: 100%;
        clear: both; }
      #top-block-info .block-info-box .block-banner-box .swiper-slide img {
        height: auto; }
      #top-block-info .block-info-box .block-info-txt {
        padding: 16px 20px; }

  /*楼盘配套和楼盘户型*/
  #block-facility, #block-space {
    width: 100%; }

  #block-space-style {
    text-align: center; } }
/*手机设备*/
@media screen and (max-width: 680px) {
  #top-block-info .block-info-box, #block-facility, #block-space {
    box-shadow: none; }

  /*顶部楼盘信息*/
  #top-block-info {
    /*顶部楼盘具体信息*/ }
    #top-block-info .block-info-box .block-info-txt {
      padding: 10px 15px; }
      #top-block-info .block-info-box .block-info-txt .block-title {
        font-size: 20px; }
    #top-block-info .block-info-box #block-detail-info dl {
      margin: 8px auto;
      /*楼盘户型*/
      /*楼盘价格*/ }
      #top-block-info .block-info-box #block-detail-info dl.block-space {
        display: none; }
      #top-block-info .block-info-box #block-detail-info dl .info-style, #top-block-info .block-info-box #block-detail-info dl .info-txt {
        font-size: 14px; }
      #top-block-info .block-info-box #block-detail-info dl .info-style {
        width: 80px;
        margin-left: -100%; }
      #top-block-info .block-info-box #block-detail-info dl .info-txt {
        width: 100%; }
        #top-block-info .block-info-box #block-detail-info dl .info-txt div {
          margin-left: 80px; }

  /*配套tab切换*/
  #block-facility #block-facility-tab {
    border-bottom: 1px solid #dddddd; }
    #block-facility #block-facility-tab li {
      display: inline-block;
      padding: 15px 5px;
      cursor: pointer;
      font-size: 16px; }
      #block-facility #block-facility-tab li.active {
        border-bottom: 2px solid #1072d9; }

  /*楼盘配套与楼盘户型*/
  #block-facility, #block-space {
    margin-bottom: 20px; }
    #block-facility .title, #block-space .title {
      padding: 15px; }
      #block-facility .title .border-icon, #block-space .title .border-icon {
        height: 20px; }
      #block-facility .title .title-txt, #block-space .title .title-txt {
        font-size: 20px; }

  /*配套信息文字*/
  #block-facility #block-facility-info {
    /*配套列表*/ }
    #block-facility #block-facility-info .facility-info-list {
      padding: 15px 30px 15px 30px; }
      #block-facility #block-facility-info .facility-info-list .info-txt li {
        font-size: 16px;
        margin: 8px auto; }
      #block-facility #block-facility-info .facility-info-list .info-img {
        font-size: 0; }
        #block-facility #block-facility-info .facility-info-list .info-img img {
          width: 100%;
          margin-bottom: 5px; }

  /*户型*/
  #block-space-style {
    padding: 0; }
    #block-space-style li {
      display: block;
      border-bottom: 1px solid #dddddd;
      margin: 0;
      padding: 10px; }
      #block-space-style li img {
        display: inline-block;
        width: 35%;
        vertical-align: middle;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
      #block-space-style li .space-info {
        width: 65%;
        display: inline-block;
        vertical-align: middle;
        padding-left: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        -o-box-sizing: border-box;
        box-sizing: border-box; }
      #block-space-style li span {
        padding: 0; }
      #block-space-style li span.space-style {
        margin-top: 0; }
        #block-space-style li span.space-style .block-status {
          position: relative;
          margin-left: 4px; } }
/*iphone6plus*/
@media screen and (min-width: 374px) and (max-width: 415px) {
  /*头部返回按钮*/
  #back-icon {
    font-size: 18px; }

  /*顶部楼盘信息*/
  #top-block-info .block-info-box .block-info-txt {
    padding: 10px 15px; }
    #top-block-info .block-info-box .block-info-txt .block-title {
      font-size: 24px; }
  #top-block-info .block-info-box #block-detail-info dl {
    margin: 8px auto;
    /*楼盘户型*/
    /*楼盘价格*/ }
    #top-block-info .block-info-box #block-detail-info dl.block-space {
      display: none; }
    #top-block-info .block-info-box #block-detail-info dl .info-style, #top-block-info .block-info-box #block-detail-info dl .info-txt {
      font-size: 18px; }
    #top-block-info .block-info-box #block-detail-info dl .info-style {
      width: 100px; }
    #top-block-info .block-info-box #block-detail-info dl .info-txt div {
      margin-left: 100px; }

  /*配套tab切换*/
  #block-facility #block-facility-tab {
    border-bottom: 1px solid #dddddd; }
    #block-facility #block-facility-tab li {
      display: inline-block;
      padding: 15px 5px;
      cursor: pointer;
      font-size: 18px; }
      #block-facility #block-facility-tab li.active {
        border-bottom: 2px solid #1072d9; }

  /*配套信息文字*/
  #block-facility #block-facility-info {
    /*配套列表*/ }
    #block-facility #block-facility-info .facility-info-list .info-img {
      font-size: 0; }
      #block-facility #block-facility-info .facility-info-list .info-img img {
        width: 100%;
        margin-bottom: 5px; }

  /*楼盘户型*/
  #block-space-style li span.space-style {
    width: 100%;
    font-size: 18px; }
  #block-space-style li span.space-area {
    font-size: 16px; }

  /*楼盘配套*/
  #block-facility #block-facility-info li {
    margin: 10px auto;
    text-align: left;
    /*信息类型*/ }
    #block-facility #block-facility-info li .info-style {
      font-size: 20px;
      display: block;
      margin-bottom: 8px; }
    #block-facility #block-facility-info li .info-txt {
      font-size: 16px;
      display: block;
      padding: 8px 10px;
      background-color: #f2f2f2;
      -moz-border-radius: 5px;
      /* Firefox */
      -webkit-border-radius: 5px;
      /* Safari 和 Chrome */
      border-radius: 5px;
      /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
      /*公交站点和公交车名*/ }
      #block-facility #block-facility-info li .info-txt span {
        display: block;
        line-height: 31px; }
      #block-facility #block-facility-info li .info-txt .bus-info .bus-station, #block-facility #block-facility-info li .info-txt .bus-info .bus-name {
        display: inline-block; }
        #block-facility #block-facility-info li .info-txt .bus-info .bus-station.bus-name, #block-facility #block-facility-info li .info-txt .bus-info .bus-name.bus-name {
          color: #555555;
          float: right; }
    #block-facility #block-facility-info li span {
      font-size: 18px; } }
/*6plus*/
@media screen and (width: 414px) {
  #header {
    height: 60px;
    padding-top: 8px; }

  #back-icon {
    font-size: 22px; }

  /*顶部楼盘信息*/
  #top-block-info .block-info-box #block-detail-info dl {
    margin: 10px auto; }
    #top-block-info .block-info-box #block-detail-info dl .info-txt, #top-block-info .block-info-box #block-detail-info dl .info-style {
      font-size: 22px; }
    #top-block-info .block-info-box #block-detail-info dl .info-txt div {
      font-size: 22px;
      margin-left: 120px; }
    #top-block-info .block-info-box #block-detail-info dl .info-style {
      width: 120px;
      margin-left: -100%; }

  /*楼盘配套与楼盘户型*/
  #block-facility, #block-space {
    margin-bottom: 20px; }
    #block-facility .title, #block-space .title {
      padding: 18px 15px; }
      #block-facility .title .border-icon, #block-space .title .border-icon {
        height: 22px; }
      #block-facility .title .title-txt, #block-space .title .title-txt {
        font-size: 22px; }

  /*楼盘户型*/
  #block-space-style li span.space-style {
    width: 100%;
    font-size: 22px; }
  #block-space-style li span.space-area {
    font-size: 18px; }

  /*配套tab切换*/
  #block-facility #block-facility-tab {
    border-bottom: 1px solid #dddddd; }
    #block-facility #block-facility-tab li {
      display: inline-block;
      padding: 15px 8px;
      cursor: pointer;
      font-size: 20px; }
      #block-facility #block-facility-tab li.active {
        border-bottom: 2px solid #1072d9; }

  /*配套信息文字*/
  #block-facility #block-facility-info {
    /*配套列表*/ }
    #block-facility #block-facility-info .facility-info-list .info-txt li {
      font-size: 20px; } }
/*小于iphone6的手机设备*/
@media screen and (max-width: 374px) {
  /*顶部楼盘信息*/
  #top-block-info .block-info-box .block-info-txt {
    padding: 10px 12px; }
    #top-block-info .block-info-box .block-info-txt .block-title {
      font-size: 16px;
      padding-bottom: 10px; }
      #top-block-info .block-info-box .block-info-txt .block-title .block-status {
        font-size: 13px; }
  #top-block-info .block-info-box #block-detail-info dl.contact-tel .info-txt img {
    width: 25px; }
  #top-block-info .block-info-box #block-detail-info dl.contact-tel .info-txt a {
    font-size: 16px; }

  /*楼盘配套*/
  #block-facility, #block-space {
    /*标题*/ }
    #block-facility .title, #block-space .title {
      padding: 15px 12px;
      /*图标*/
      /*文字*/ }
      #block-facility .title .border-icon, #block-space .title .border-icon {
        display: inline-block;
        height: 18px; }
      #block-facility .title .title-txt, #block-space .title .title-txt {
        height: 18px;
        line-height: 18px;
        font-size: 18px; }

  /*户型*/
  #block-space-style li img {
    width: 30%; }
  #block-space-style li .space-info {
    font-size: 70%; }
  #block-space-style li span.space-style {
    font-size: 14px; }
    #block-space-style li span.space-style .block-status {
      font-size: 13px;
      padding: 2px 4px; }
  #block-space-style li span.space-area {
    font-size: 14px;
    padding-top: 3px; } }

/*# sourceMappingURL=block-info.css.map */
