@charset "UTF-8";
@import "common_mixin";

body {
  background-color: #f2f2f2;
  font-family: 'Microsoft Yahei';

}

/*楼盘信息盒子通用样式*/
%block-info-box-common {
  width: 1024px;
  margin: 0 auto;
  background-color: #ffffff;
  @include box-shadow(0 3px 10px rgba(0, 0, 0, .2));
  @include box-sizing(border-box);
}

/*楼盘状态样式*/
%block-status-style {
  display: inline-block;
  font-size: 14px;
  color: #ffffff;
  padding: 2px 6px;
  vertical-align: middle;
  @include border-radius(3px);
}

#header {
  height: 50px;
  background-color: #1072d9;
}

#back-icon {
  display: block;
  padding-top: 11px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding-left: 5px;
  img {
    display: inline-block;
    width: 28px;
    line-height: 50px;
    vertical-align: middle;
  }

}

/*头部楼盘信息*/
#top-block-info {
  padding: 30px;
  .block-info-box {
    padding: 20px;
    @extend %block-info-box-common;
    /*楼盘宣传图*/
    .block-banner-box {
      width: 48%;
      float: left;
      /*图片*/
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 330px;
      }
    }
    /*楼盘信息文字*/
    .block-info-txt {
      width: 52%;
      padding-left: 30px;
      float: left;
      @include box-sizing(border-box);
      /*楼盘名称*/
      .block-title {
        font-size: 24px;
        font-weight: normal;
        padding-bottom: 10px;
        border-bottom: 1px solid #cacaca;
        /*楼盘状态*/
        .block-status {
          @extend %block-status-style;
          &:first-child {
            background-color: #00ae66;
          }
          &:nth-child(2) {
            background-color: #ff6600;
          }
          &:nth-child(3) {
            background-color: #e8393c;
          }
        }
      }
    }
    /*楼盘信息文字*/
    #block-detail-info {
      dl {
        overflow: auto;
        display: block;
        font-family: "\5FAE\8F6F\96C5\9ED1", 微软雅黑, "Microsoft Yahei", 雅黑 \9, Arial;
        margin: 15px auto;
        &.block-price {
          line-height: 20px;
          .info-txt {
            font-size: 20px;
            color: #e8393c;
          }
        }
        &.contact-tel {
          text-align: left;
          .info-txt {
            img {
              vertical-align: middle;
            }
            a {
              font-size: 22px;
              color: #1072d9;
              vertical-align: middle;
              line-height: 22px;
            }
          }
        }
        .info-style {
          float: left;
          width: 80px;
          color: #555;
          font-size: 14px;
          vertical-align: middle;
          margin-left: -100%;

        }
        .info-txt {
          width: 100%;
          float: left;
          color: #333333;
          font-size: 14px;
          vertical-align: middle;
          div {
            margin-left: 80px;
          }

        }

      }
    }
  }
}

/*楼盘配套*/
#block-facility, #block-space {
  margin-bottom: 30px;
  @extend %block-info-box-common;
  /*标题*/
  .title {
    font-weight: normal;
    padding: 20px 25px;
    border-bottom: 1px solid #dddddd;
    font-size: 0;
    /*图标*/
    .border-icon {
      display: inline-block;
      width: 3px;
      height: 20px;
      background-color: #1072d9;
      vertical-align: middle;
    }
    /*文字*/
    .title-txt {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      margin-left: 12px;
    }
  }

  /*配套tab切换*/
  #block-facility-tab {
    border-bottom: 1px solid #dddddd;
    li {
      display: inline-block;
      padding: 15px 25px;
      cursor: pointer;
      &.active {
        border-bottom: 2px solid #1072d9;
      }
    }
  }
  /*配套信息文字*/
  #block-facility-info {
    background-color: #f2f2f2;
    overflow: hidden;
    margin-bottom: 30px;


    /*配套列表*/
    .facility-info-list {
      width: 100%;
      float: left;
      display: none;
      top: 0;
      left: 0;
      padding: 15px 30px 40px 30px;
      background-color: #ffffff;
      @include box-shadow(0 3px 10px rgba(0, 0, 0, .2));
      @include box-sizing(border-box);
      h4 {
        font-size: 20px;
        margin: 8px 0;
      }
      .info-txt {
        font-size: 14px;
        display: block;
        padding: 8px 10px;
        background-color: #f2f2f2;
        @include border-radius(5px);
        @include box-sizing(border-box);
        li {
          margin: 5px auto;
        }

        /*公交站点和公交车名*/
        .bus-info {
          .bus-station, .bus-name {
            display: inline-block;
            &.bus-name {
              color: #555555;
              float: right;
            }
          }
        }
      }
      .info-img {
        font-size: 0;
        margin: 10px auto;
        text-align: center;
        img {
          width: 49%;
          &:first-child {
            margin-right: 2%;
          }
        }
      }
    }

    span {
      font-size: 14px;
    }
  }
}

/*户型大小介绍*/
#block-space-style {
  padding: 10px;
  font-size: 0;
  li {
    display: inline-block;
    margin: 15px;
    img {
      width: 220px;
      display: block;
    }
    span {
      display: block;
      text-align: left;
      padding: 0;
      &.space-style {
        position: relative;
        margin-top: 8px;
        font-weight: bold;
        font-size: 15px;
        .block-status {
          @extend %block-status-style;
          position: absolute;
          right: 0;
          top: 0;
          /*在售状态*/
          &.selling {
            background-color: lighten(#ff6600, 8%);
          }
          &.sell-out {
            background-color: #999999;
          }
        }
      }
      &.space-area {
        color: #555;
        font-size: 14px;
        padding-top: 6px;

      }
    }
  }
}

/*ipad设备*/
@media screen and(max-width: 768px) {
  /*顶部楼盘信息*/
  #top-block-info {
    padding: 0 0 20px 0;
    .block-info-box {
      padding: 0;
      width: 100%;
      /*楼盘宣传图和信息文字*/
      .block-banner-box, .block-info-txt {
        width: 100%;
        clear: both;
      }
      /*楼盘轮播图*/
      .block-banner-box {
        .swiper-slide img {
          height: auto;
        }
      }
      /*楼盘信息文字*/
      .block-info-txt {
        padding: 16px 20px;
      }
    }
  }
  /*楼盘配套和楼盘户型*/
  #block-facility, #block-space {
    width: 100%;
  }
  #block-space-style {
    text-align: center;
  }
}

/*手机设备*/
@media screen and(max-width: 680px) {
  #top-block-info .block-info-box, #block-facility, #block-space {
    box-shadow: none;
  }
  /*顶部楼盘信息*/
  #top-block-info {
    .block-info-box .block-info-txt {
      padding: 10px 15px;
      .block-title {
        font-size: 20px;
      }
    }

    /*顶部楼盘具体信息*/
    .block-info-box #block-detail-info {
      dl {
        margin: 8px auto;
        /*楼盘户型*/
        &.block-space {
          display: none;
        }
        /*楼盘价格*/
        .info-style, .info-txt {
          font-size: 14px;
        }
        .info-style {
          width: 80px;
          margin-left: -100%;
        }
        .info-txt {
          width: 100%;
          div {
            margin-left: 80px;
          }
        }
      }
    }
  }

  /*配套tab切换*/
  #block-facility #block-facility-tab {
    border-bottom: 1px solid #dddddd;
    li {
      display: inline-block;
      padding: 15px 12px;
      cursor: pointer;
      font-size: 16px;
      &.active {
        border-bottom: 2px solid #1072d9;
      }
    }
  }
  /*楼盘配套与楼盘户型*/
  #block-facility, #block-space {
    margin-bottom: 20px;
    .title {
      padding: 15px;
      .border-icon {
        height: 20px;
      }
      .title-txt {
        font-size: 20px;
      }
    }
  }
  /*配套信息文字*/
  #block-facility #block-facility-info {
    /*配套列表*/
    .facility-info-list {
      padding: 15px 30px 15px 30px;
      .info-txt li {
        font-size: 16px;
        margin: 8px auto;
      }
      .info-img {
        font-size: 0;
        img {
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
  }

  /*户型*/
  #block-space-style {
    padding: 0;
    li {
      display: block;
      border-bottom: 1px solid #dddddd;
      margin: 0;
      padding: 10px;
      img {
        display: inline-block;
        width: 35%;
        vertical-align: middle;
        @include box-sizing(border-box);
      }
      .space-info {
        width: 65%;
        display: inline-block;
        vertical-align: middle;
        padding-left: 8px;
        @include box-sizing(border-box);
      }
      span {
        padding: 0;
      }
      span.space-style {
        margin-top: 0;
        .block-status {
          position: relative;
          margin-left: 4px;
        }
      }
    }
  }
  #block-facility #block-facility-info, #block-space #block-facility-info {
    //padding: 0 20px 10px 20px;
  }


}

/*iphone6plus*/
@media screen and (min-width: 374px) and (max-width: 415px) {

  /*头部返回按钮*/
  #back-icon {
    font-size: 18px;
  }

  /*顶部楼盘信息*/
  #top-block-info {
    .block-info-box .block-info-txt {
      padding: 10px 15px;
      .block-title {
        font-size: 24px;
      }
    }
    .block-info-box #block-detail-info {
      dl {
        margin: 8px auto;
        /*楼盘户型*/
        &.block-space {
          display: none;
        }
        /*楼盘价格*/
        .info-style, .info-txt {
          font-size: 18px;
        }
        .info-style {
          width: 100px;
        }
        .info-txt div {
          margin-left: 100px;
        }
      }
    }
  }

  /*配套tab切换*/
  #block-facility #block-facility-tab {
    border-bottom: 1px solid #dddddd;
    li {
      display: inline-block;
      cursor: pointer;
      font-size: 18px;
      &.active {
        border-bottom: 2px solid #1072d9;
      }
    }
  }
  /*配套信息文字*/
  #block-facility #block-facility-info {
    /*配套列表*/
    .facility-info-list {
      .info-img {
        font-size: 0;
        img {
          width: 100%;
          margin-bottom: 5px;
        }
      }
    }
  }

  /*楼盘户型*/
  #block-space-style li span {
    &.space-style {
      width: 100%;
      font-size: 18px;
    }
    &.space-area {
      font-size: 16px;

    }
  }



/*楼盘配套*/
#block-facility {
  #block-facility-info li {
    margin: 10px auto;
    text-align: left;
    /*信息类型*/
    .info-style {
      font-size: 20px;
      display: block;
      margin-bottom: 8px;
    }
    .info-txt {
      font-size: 16px;
      display: block;
      padding: 8px 10px;
      background-color: #f2f2f2;
      @include border-radius(5px);
      span {
        display: block;
        line-height: 31px;
      }
      /*公交站点和公交车名*/
      .bus-info {
        .bus-station, .bus-name {
          display: inline-block;
          &.bus-name {
            color: #555555;
            float: right;
          }
        }
      }

    }
    span {
      font-size: 18px;
    }
  }
}

}

/*6plus*/
@media screen and(width: 414px) {
  //头部
  #header{
    height: 60px;
    padding-top: 8px;
  }
  #back-icon{
    font-size: 22px;
  }

  /*顶部楼盘信息*/
  #top-block-info .block-info-box #block-detail-info dl {
    margin: 10px auto;
    .info-txt, .info-style {
      font-size: 22px;
    }
    .info-txt div {
      font-size: 22px;
      margin-left: 120px;
    }
    .info-style {
      width: 120px;
      margin-left: -100%;
    }
  }

  /*楼盘配套与楼盘户型*/
  #block-facility, #block-space {
    margin-bottom: 20px;
    .title {
      padding: 18px 15px;
      .border-icon {
        height: 22px;
      }
      .title-txt {
        font-size: 22px;
      }
    }
  }

  /*楼盘户型*/
  #block-space-style li span {
    &.space-style {
      width: 100%;
      font-size: 22px;
    }
    &.space-area {
      font-size: 18px;

    }
  }


  /*配套tab切换*/
  #block-facility #block-facility-tab {
    border-bottom: 1px solid #dddddd;
    li {
      display: inline-block;
      cursor: pointer;
      font-size: 20px;
      &.active {
        border-bottom: 2px solid #1072d9;
      }
    }
  }
  /*配套信息文字*/
  #block-facility #block-facility-info {
    /*配套列表*/
    .facility-info-list {
      .info-txt li {
        font-size: 20px;
      }
    }
  }
}

/*小于iphone6的手机设备*/
@media screen and(max-width: 374px) {
  /*顶部楼盘信息*/
  #top-block-info .block-info-box {
    .block-info-txt {
      padding: 10px 12px;
      .block-title {
        font-size: 16px;
        padding-bottom: 10px;
        .block-status {
          font-size: 13px;
        }
      }
    }
    #block-detail-info dl.contact-tel .info-txt {
      img {
        width: 25px;
      }
      a {
        font-size: 16px;
      }
    }
  }

  /*楼盘配套*/
  #block-facility, #block-space {
    /*标题*/
    .title {
      padding: 15px 12px;
      /*图标*/
      .border-icon {
        display: inline-block;
        height: 18px;
      }
      /*文字*/
      .title-txt {
        height: 18px;
        line-height: 18px;
        font-size: 18px;
      }
    }
  }

  /*户型*/
  #block-space-style {
    li {
      img {
        width: 30%;
      }
      .space-info {
        font-size: 70%;
      }
      span.space-style {
        font-size: 14px;
        .block-status {
          font-size: 13px;
          padding: 2px 4px;
        }
      }
      span.space-area {
        font-size: 14px;
        padding-top: 3px;
      }
    }
  }
}

